body{
    margin: 0;
}
header{
    position: relative;
    font-size: larger;
    font-weight: bolder ;
    text-align: justify;
    position: static;
    background-color: black;
    color: white;
    display: flex;
    padding: 10px;
}
nav{
    position: absolute;
    /* Quando a barra de navegação estiver no topo ela fixa em cima da tela */
    position: sticky;
    top: 0; 
    /*  */
    background-color: black;
    text-align: center;
    margin: auto;
    padding: 15px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    margin: 20px;
}
nav a:hover{
    background-color: white;
    color: black;
}
.flex{
    display: flex;
}
main{
    background-color: gray;
    height: 800px;
    
}
.abt_turma{
    padding-top: 30px;
    
}
.abt_turma p{
    text-align: center;
}
.abt_turma h1{
    text-align: justify;
}
.logo_turma{
    margin-right: 50px;
}
#img_turma{
    background-blend-mode: soft-light;
    background-image: url(assets/imagens/image.png);
    background-position: right center;
    background-size: cover;
}
.imagem{
    background-color: rgb(58, 57, 57);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.imagem h1{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    background-size: cover;
}
