body{
    margin: 0;
    background-color: grey;
}
header{
    position: relative;
    font-size: larger;
    font-weight: bolder ;
    text-align: justify;
    position: static;
    background-color: black;
    color: white;
    display: flex;
    padding: 10px;
}
nav{
    position: absolute;
    /* Quando a barra de navegação estiver no topo ela fixa em cima da tela */
    position: sticky;
    top: 0; 
    /*  */
    background-color: black;
    text-align: center;
    margin: auto;
    padding: 15px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    margin: 20px;
}
nav a:hover{
    background-color: white;
    color: black;
}
main{
    display: flex;
    margin: 0;
    background-color: #FDFFFC;
    height: 800px;
}
section{
    display: flex;
}

.abt_geral{
    padding: 50px;
    margin: auto;
    
}
.abt_turma h1{
    text-align: justify;
}
.img_geral{
    margin-right: 50px;
    width: 100%;
    height: 100%; /* ou uma altura fixa, ex: 500px */
    background-image: url('assets/imagens/Paisagem-1.jpg');
    background-size: cover; /* ou '100% 100%' para esticar */
    background-repeat: no-repeat;
    background-position: center;
}

#img_turma{
    /* Modifica o blend da imagem */
    background-blend-mode: soft-light;
    /*  */
    background-image: url('assets/imagens/image.png');
    background-position: right center;
    background-size: cover;
}
.imagem{
    background-color: rgb(58, 57, 57);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.imagem h1{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    background-size: cover;
}
footer{
    margin: 0;
    padding: 30px;
    text-align: center;
    background-color: white;
}